<!DOCTYPE html>
<html>
  <head>
  <% include includes/head.ejs %>
  </head>
  <body>
    <% include includes/header.ejs %>
    <div class="container contact contact-new">
      <div class="contact-menu">
        <a class="btn btn-default" href="/show">Back</a>
      </div>
      <section>

      <h3><%= contact.name %></h3>
      <form class="contact-form" action="/update/<%= contact._id %>/edit?_method=put" method="post">

        <div class="form-group">
           <label for="name">Name</label>
           <input class="form-control" type="text"  name="name" value="<%= contact.name %>">
        </div>
        <div class="form-group">
           <label for="email">E-mail</label>
           <input class="form-control" type="text" name="email" value="<%= contact.email %>">
        </div>
        <div class="form-group">
           <label for="phone">Phone</label>
           <input class="form-control" type="text"  name="phone" value="<%= contact.phone %>">
        </div>

        <div>
         <button type="submit" class="btn btn-default">Edit</button>
        </div>

      </form>
      </section>
    </div>
  </body>
</html>
