<!DOCTYPE html>
<html>
  <head>
  <% include includes/head.ejs %>
  </head>
  <body>
    <% include includes/header.ejs %>
    <div class="container contact contact-index">
      <section>

      <h3><%= contact.name %></h3>

      <label for="">E-mail</label><span> <%= contact.email %></span>
      <label for="">Phone</label><span> <%= contact.phone %></span>

      <div class="contact-menu">


        <a class="btn btn-default" href="/update/<%= contact._id %>/edit">edit</a>
        <a class="btn btn-default" href="/show">back</a>
        <form class="as" action="/delete/<%= contact._id %>?_method=delete" method="post">
          <a class="btn btn-default" href="#" onclick="this.parentElement.submit()">delete</a>
        </form>
      </div>
      </section>
    </div>
  </body>
</html>
